NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=.............
CLERK_SECRET_KEY=..............

NEXT_PUBLIC_API_ID=.........


Also make sure to export OPENROUTER_API_KEY when running locally in the cli as per the docs
